{% extends "base.html" %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<h1>Chào mừng bạn đến với chuyện chữ</h1>

{% for story in stories %}
    <div class="story">
        <h2><a href="{{ url_for('story_detail', story_id=story.story_id) }}">{{ story.title }}</a></h2>
        <p>đăng bởi {{ story.user.name }} on {{ story.date_posted.strftime('%Y-%m-%d') }}</p>
        <p>{{ story.content[:150] }}...</p>
    </div>
{% else %}
    <p>No stories found.</p>
{% endfor %}
{% endblock %}
