{% extends "base.html" %}

{% block title %}Tin nhắn của bạn{% endblock %}

{% block content %}
<h2>Tin nhắn đã gửi</h2>
<ul>
    {% for message in sent_messages %}
        <li>
            Đến: {{ message.recipient.email }} <br>
            Nội dung: {{ message.content }} <br>
            Thời gian: {{ message.timestamp }}
        </li>
    {% endfor %}
</ul>

<h2>Tin nhắn đã nhận</h2>
<ul>
    {% for message in received_messages %}
        <li>
            Từ: {{ message.sender.email }} <br>
            Nội dung: {{ message.content }} <br>
            Thời gian: {{ message.timestamp }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
