{% extends "base.html" %}

{% block title %}{{ story.title }}{% endblock %}

{% block content %}
<h1>{{ story.title }}</h1>
<p>đăng bởi {{ story.user.name }} on {{ story.date_posted.strftime('%Y-%m-%d') }}</p>
<p>{{ story.content }}</p>

<h3>Comments</h3>
{% for comment in comments %}
    <div class="comment">
        <p><strong>{{ comment.user.name }}</strong>: {{ comment.content }}</p>
        <p>Posted on {{ comment.date_posted.strftime('%Y-%m-%d %H:%M') }}</p>
    </div>
{% else %}
    <p>không có bình luận.</p>
{% endfor %}

{% if 'user' in session %}
<h4>thêm bình luận:</h4>
<form method="POST" action="{{ url_for('add_comment', story_id=story.story_id) }}">
    <textarea name="content" required></textarea>
    <button type="submit">đăng</button>
</form>
{% else %}
<p>bạn cần phải đăng nhập <a href="{{ url_for('login') }}">đăng nhập</a> để bình luận.</p>
{% endif %}
{% endblock %}
